<div class="edit-info">
    <h3 class="edit-info__main-title">Cambiar datos</h3>
    <form action="/user/profile-edit" method="POST" class="edit-info__form">

        <article class="edit-info__article">
            <h3 class="edit-info__title">Información de cuenta</h3>

            <label class="edit-info__label">Email</label>
            <p class="edit-info__text">{{userData.email}}</p><br>

            <label class="edit-info__label" for="name">Nombre: </label>
            <input class="edit-info__input-text" type="text" name="name" value="{{userData.name}}"> <br>

            <label class="edit-info__label" for="lastname">Apellido: </label>
            <input class="edit-info__input-text" type="text" name="lastname" value="{{userData.lastname}}"> <br>

            <label class="edit-info__label" for="gender">Sexo: </label>
            <select name="gender" class="edit-info__input-select">
                <option value="">Seleccionar</option>
                <option value="">Masculino</option>
                <option value="">Femenino</option>
            </select>   <br>

            <label class="edit-info__label" for="date">Fecha de nacimiento:</label>
            <input type="text" name="date" class="edit-info__input-date"> / <input type="text" name="date" class="edit-info__input-date"> / <input type="text" name="date" class="edit-info__input-date">
        </article>

        <article class="edit-info__article">
            <h3 class="edit-info__title">Newslatter</h3>
        </article>

        <article class="edit-info__article">
            <h3 class="edit-info__title">Libreta de direcciones</h3>
            <article class="edit-info__address-article">
                <h5 class="edit-info__address-title">Dirección de facturación</h5>

                {{#with billingAddress}}
                <label class="edit-info__label" for="addressFac">Dirección: </label>
                <input class="edit-info__input-text" type="text" name="addressFac" value="{{street}}"> <br>

                <label class="edit-info__label" for="numberFac">Numero: </label>
                <input class="edit-info__input-text" type="text" name="numberFac" value="{{number}}"> <br>

                <label class="edit-info__label" for="postalFac">Codigo postal: </label>
                <input class="edit-info__input-text" type="text" name="postalFac" value="{{postal_code}}"> <br>

                <label class="edit-info__label" for="cityFac">Ciudad: </label>
                <input class="edit-info__input-text" type="text" name="cityFac" value="{{city}}"> <br>

                <label class="edit-info__label" for="locationFac">Provincia: </label>
                <input class="edit-info__input-text" type="text" name="locationFac" value="{{location}}"> <br>
                {{/with}}
                
            </article>
            <article class="edit-info__address-article">
                <h5 class="edit-info__address-title">Dirección de envío</h5>

                {{#with shippingAddress}}
                <label class="edit-info__label" for="addressFac">Dirección: </label>
                <input class="edit-info__input-text" type="text" name="addressFac" value="{{street}}"> <br>

                <label class="edit-info__label" for="numberFac">Numero: </label>
                <input class="edit-info__input-text" type="text" name="numberFac" value="{{number}}"> <br>

                <label class="edit-info__label" for="postalFac">Codigo postal: </label>
                <input class="edit-info__input-text" type="text" name="postalFac" value="{{postal_code}}"> <br>

                <label class="edit-info__label" for="cityFac">Ciudad: </label>
                <input class="edit-info__input-text" type="text" name="cityFac" value="{{city}}"> <br>

                <label class="edit-info__label" for="locationFac">Provincia: </label>
                <input class="edit-info__input-text" type="text" name="locationFac" value="{{location}}"> <br>
                {{/with}}
            </article>
        </article>
        
        <button type="submit" class="edit-info__button"><i class="fas fa-save"></i></button>
    </form>
</div>