<header class="secundary-header">
    {{!-- <div class="container"> --}}
        <h1 class="secundary-header__title">Productos</h1>
    {{!-- </div> --}}
</header>

<nav class="products-nav" id="navMobile">
    <button class="products-nav__button-mobile" id="showCategories">{{title}}<i class="fas fa-chevron-down products-nav__button-mobile__icon"></i></button>
    <ul class="products-nav__list container">
        {{#if palos}}<li class="products-nav__item"><a href="../products/palos-sets" class="products-nav__link products-nav__link-active">Palos y Sets</a></li>{{/if}}
        {{#unless palos}}<li class="products-nav__item"><a href="../products/palos-sets" class="products-nav__link">Palos y Sets</a></li>{{/unless}}
        
        {{#if pelotas}}<li class="products-nav__item"><a href="../products/pelotas" class="products-nav__link products-nav__link-active">Pelotas</a></li>{{/if}}
        {{#unless pelotas}}<li class="products-nav__item"><a href="../products/pelotas" class="products-nav__link">Pelotas</a></li>{{/unless}}
        

        {{#if bolsos}}<li class="products-nav__item"><a href="../products/bolsos" class="products-nav__link products-nav__link-active">Bolsos</a></li>{{/if}}
        {{#unless bolsos}}<li class="products-nav__item"><a href="../products/bolsos" class="products-nav__link">Bolsos</a></li>{{/unless}}

        {{#if carros}}<li class="products-nav__item"><a href="../products/carros" class="products-nav__link products-nav__link-active">Carros</a></li>{{/if}}
        {{#unless carros}}<li class="products-nav__item"><a href="../products/carros" class="products-nav__link">Carros</a></li>{{/unless}}

        {{#if indumentaria}}<li class="products-nav__item"><a href="../products/ropa-accesorios" class="products-nav__link products-nav__link-active">Ropa y Accesorios</a></li>{{/if}}
        {{#unless indumentaria}}<li class="products-nav__item"><a href="../products/ropa-accesorios" class="products-nav__link">Ropa y Accesorios</a></li>{{/unless}}
        
    </ul>
</nav>

<main class="products-main products container">
    <aside class="products-main__filters filter" id="filter">
        <button class="filter__close-button" id="closeFilter"><i class="fas fa-arrow-left"></i></button>

        <span class="filter__tooltips">Negro <i class="fas fa-times filter__tooltips-icon"></i></span>
        <span class="filter__tooltips">Callaway <i class="fas fa-times filter__tooltips-icon"></i></span>

        {{#each filtro}}
        <section class="filter__section">
            <h4 class="filter__section-title">{{this.title}}<i class="fas fa-chevron-down filter__section-title-icon"></i></h4>

            <ul class="filter__section-list">
                {{#each this.items}}
                <li class="filter__section-item"><a href="" class="filter__section-link">{{this}}</a></li>
                {{/each}}
            </ul>

            <button type="button" class="filter__button">Ver más</button>
        </section>
        {{/each}}
    </aside>

    <div class="products-main__list products-list">

        <form action="/products{{path}}" method="GET" id="orderForm" class="products-main__list-form">
                    <select name="order" id="selectList" class="products-main__list-select">
                    <option value="">Más Relevante</option>
                    <option value="priceDESC" class="products-main__list-option">Precio: Mayor a Menor</option>
                    <option value="priceASC" class="products-main__list-option">Precio: Menor a Mayor</option>
                    <option value="nameASC" class="products-main__list-option">Nombre: A - Z</option>
                    <option value="nameDESC" class="products-main__list-option">Nombre: Z - A</option>
                    <option value="dateDESC" class="products-main__list-option">Fecha: Más Nuevo</option>
                    <option value="dateASC" class="products-main__list-option">Fecha: Más Antiguo</option>
                </select>   <!-- products-main__list-select -->
        </form>
        {{!-- <select name="" id="" class="products-main__list-select">
            <option value="" class="products-main__list-option">Precio: Mayor a Menor</option>
            <option value="" class="products-main__list-option">Precio: Menor a Mayor</option>
            <option value="" class="products-main__list-option">Nombre: A - Z</option>
            <option value="" class="products-main__list-option">Nombre: Z - A</option>
            <option value="" class="products-main__list-option">Fecha: Más Nuevo</option>
            <option value="" class="products-main__list-option">Fecha: Más Antiguo</option>
        </select>   <!-- products-main__list-select --> --}}

        <div class="products-main__list-select-mobbile select-mobile" id="selectMobile">
            <button class="select-mobile__close-button" id="closeSelect"><i class="fas fa-arrow-left"></i></button>

            <ul class="select-mobile__list">
                <li class="select-mobile__item"><a href="" class="select-mobile__link">Precio: Mayor a Menor</a></li>
                <li class="select-mobile__item"><a href="" class="select-mobile__link">Precio: Menor a Mayor</a></li>
                <li class="select-mobile__item"><a href="" class="select-mobile__link">Nombre: A - Z</a></li>
                <li class="select-mobile__item"><a href="" class="select-mobile__link">Nombre: Z - A</a></li>
                <li class="select-mobile__item"><a href="" class="select-mobile__link">Fecha: Más Nuevo</a></li>
                <li class="select-mobile__item"><a href="" class="select-mobile__link">Fecha: Más Antiguo</a></li>
            </ul>
        </div>

        <div class="filter-mobile products-main__filter-mobile">
            <button class="filter-mobile__button" id="showSelect"><i class="filter-mobile__icon fas fa-sort-amount-down"></i>Ordenar</button>
            <button class="filter-mobile__button" id="showFilter"><i class="filter-mobile__icon fas fa-filter"></i>Filtrar</button>
        </div>

        <div id="productCardContainer" class="products-main__list-container">
        </div>

        {{!-- {{#each producs}}
            {{>productCard}}
        {{/each}} --}}

        <button class="products-main__list-button" id="moreProducts">Mostrar más productos</button>
        

        {{#each productList}}
            {{#with this}}
                <p>{{name}}</p>
            {{/with}}
        {{/each}}
    </div>
</main>